.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form-container span {
  margin-top: 5px;
  font-size: small;
  color: crimson;
}

input {
  width: 97.5%;
  border-radius: 10px;
  padding: 12px;
  padding-left: 8px;
  margin-top: 5px;
}

input:focus {
  outline: 0px;
  border: 3px solid #0d64fc;
}

.title-input {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.desc-input {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  align-items: flex-start;
}

.submitBtn {
  border-radius: 10px;
  width: 10%;
  font-weight: bold;
  color: white;
  background-color: blueviolet;
  border: 0px;
  margin-top: 30px;
}

.submitBtn:hover {
  cursor: pointer;
}

.submitBtn:active {
  outline: 2px solid #0d64fc;
}

@media screen and (max-width: 1190px) {
  .form-container {
    margin-top: 0px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .title-input {
    width: 100%;
  }

  .desc-input {
    margin-top: 25px;
    width: 100%;
  }

  input {
    width: 93%;
  }
  .submitBtn {
    width: 100%;
  }
}
