.all-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 40px;
}

.item-container.edit{
    border: 0px;
}

.list-item{
    flex:0.95;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item:hover{
    cursor: pointer;
}

.item-container img {
    flex:0.05;
    max-width: 30px;
    max-height: 30px;
    width: 5px;
    height:auto;
    border-radius: 15px;
}

.item-container img:hover{
    cursor: pointer;
}

.item-container img:active{
    outline: 2px solid #0d64fc;
}

.item-container:hover{
  opacity: 0.85;
}

.item-container:nth-child(3n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }
  
  .item-container:nth-child(3n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  
  .item-container:nth-child(3n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }

@media screen and (max-width: 768px){
    .all-items-container{
        margin-top: 30px;
    }
    .item-container img {
        width: 30px;
    }
}